<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <h1>Password Manager</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Password</th>
        </tr>
        {% for password in passwords %}
        <tr>
            <td>{{ password[1] }}</td>
            <td>{{ password[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Add New Password</h2>
    <form method="post" action="/add_password">
        <input type="text" name="name" placeholder="Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Add Password</button>

        <a href="/">Ir al Creador de contraseñas</a>
    </form>
</body>
</html>
